// add your custom styles here
// to learn more about SASS, visit sass-lang.com

// body 
body {
  color: $darkblue;
}
// add custom font for heading
.title {
  font-family: 'Capriola', 'Source Sans Pro', "Roboto", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  letter-spacing: -0.7;
}

.cover-container {
  min-height: 100vh;
  background-image: url(../images/backgroung-mint.svg);
  background-position: center;
  background-size: cover;
}

.myfooter {
  height: 5em;
}