// add your custom styles here
// to learn more about SASS, visit sass-lang.com

$fontgroup: 'Capriola', 'Source Sans Pro', "Roboto", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

// body 
body {
  color: $darkblue;
}
// add custom font for heading
.title {
  font-family: $fontgroup;
  letter-spacing: -0.7;
}

// custom homepage
.intro-text {
  font-size: 1.2rem;
  line-height: 1.75rem;
}
.intro-text-two {
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.4rem;
}
.light-input {
  color: #879299;
}
.home-part-two {
  background-color: white;
  border: #ced4da 1px solid;
  .btn {
    width: 50%;
  }
}
@include media-breakpoint-up(lg){
  .home-part-two {
    .btn {
      width: 100%;
    }
  }
}
@include media-breakpoint-down(sm) {
  .home-part-two {
    background-color: $darkblue;
    .btn {
      width: 100%;
    }
    .btn-outline-primary {
      color: white;
      border-color: white;
      &:hover {
        // color: $darkblue;
        background-color: rgba(255, 255, 255, 0.2);
      }
  }
  
    p {
      color: white;
    }
  }
}
// responsive video iframe
.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  overflow: hidden;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.carousel-control-prev, .carousel-control-next {
  height: 85%;
  padding-top: 10%;
}

// btn
.btn {
  border-radius: 1.5rem;
  font-family: $fontgroup;
  font-weight: 300;
  font-size: 0.9rem;
}
.form-control {
  border-radius: 1.5rem;
  &:focus {
    border-color: $mint-light;
    box-shadow: 0 0 0 0.2rem rgba(213, 239, 232, 0.5);
  }
}

.cover-container {
  min-height: 100vh;
  background-image: url(../images/backgroung-mint.svg);
  background-position: center;
  background-size: cover;
}

.myfooter {
  height: 5em;
}