// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.
//


// Color system
$mint: #27AC88;
$mint-light: #D5EFE8;
$darkblue: #033C47;
$dark: #374141;
$tomato: #ec333b;
$gold: #e8ba00;

// ajouter + modifier des couleurs
$theme-colors: (
  "primary": $mint,     // vert
  "success": $gold,     // gold
  "warning": $warning,  
  "danger": $tomato,    // rouge
  "light": $light,
  "dark": $darkblue,      
  "info": $darkblue,  
);


// Links
$link-color: theme-color("primary");
// $link-decoration: none !default;
$link-hover-color: darken($link-color, 15%);
// $link-hover-decoration: underline !default;



// Typography
@import url('https://fonts.googleapis.com/css2?family=Capriola&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap');

$font-family-sans-serif: 'Source Sans Pro', "Roboto", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-capriola: 'Capriola', 'Source Sans Pro', "Roboto", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$font-family-base: $font-family-sans-serif;