<footer class="mt-auto py-4">
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <p class="text-center"><a href="mailto:aline.consigne@gmail.com" class="text-info">Contacter Aline : aline.consigne@gmail.com</a></p>
      </li>
    </ul>
  </footer>