<footer class="mt-auto container-fluid">
  <div class="row text-white">
   <div class="col-12">
    <img src="/images/logo-aline-white.svg" width="160px">
    <p class="title h2 text-white mt-3">Pour qu'elle revienne !</p>
    <hr class="hr" />
   </div>
   <div class="col-12">
    <div class="d-flex flex-column flex-md-row justify-content-md-between align-items-md-center">
      <p class="text-center order-md-2 ml-md-auto mr-md-3"><a href="mailto:aline.consigne@gmail.com" class="text-white">aline.consigne@gmail.com</a></p>
      <p class="text-center order-md-3 text-dark">
        <a href="https://www.linkedin.com/company/aline-app/" target="_blank" rel="noopener" rel="noreferrer" class="soli"><i class="mx-2 fab fa-linkedin-in"></i></a>
        <a href="https://twitter.com/aline_consigne" target="_blank" rel="noopener" rel="noreferrer" class="soli"><i class="mx-2 fab fa-twitter"></i></a>
        <a href="https://www.instagram.com/alineconsigne/" target="_blank" rel="noopener" rel="noreferrer" class="soli"><i class="mx-2 fab fa-instagram"></i></a>
        <a href="https://www.facebook.com/alineconsigne" target="_blank" rel="noopener" rel="noreferrer" class="soli"><i class="mx-2 fab fa-facebook-f"></i></a>
      </p>
      <p class="text-center mt-3 mt-md-0 order-md-1">© Aline 2020</p>
    </div>
   </div>
  </div>
  </footer>