<header class="mb-auto sticky-top">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/">
      <img src="/images/logo-aline-white.svg" width="76" height="36" class="d-inline-block align-top" alt="logo Aline" loading="lazy">
      <span class="navbar-text title text-white ml-2 d-none d-lg-inline-block">L'application consigne</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/sign-up">S'inscrire</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <a href="/sign-in" class="btn btn-outline-light">Connexion</a>
      </form>
    </div>
  </nav>
</header>