<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge"> 
        <!-- my custom Bootstrap -->
        <link href="/css/style.css" rel="stylesheet">

    <title>Application Aline - Pour qu'elle revienne !</title>
  </head>
  <body>
    
    <div class="cover-container d-flex flex-column">
      <!-- Header Navbar-->
      <%- include('header') %>
      
      <!-- main -->
      <div class="container-fluid container-md">
        <div class="row">

          <!-- part 1 -->
          <div class="col-12 col-lg-8 mb-2 mb-md-0 p-4">
            <div class="row">
              <div class="col-12 col-md-5" style="max-width: 300px; margin: 0 auto">
                <img src="/images/2-iphones-and-shadow.png" class="img-fluid" alt="Responsive image">
              </div>
              <div class="col-12 col-md-7">

                <h1 class="title h2 text-center text-md-left mb-4">Passez à&nbsp;l'action&nbsp;!</h1>

                <p class="text-center text-md-left intro-text"><strong class="font-weight-bold">L’application Aline</strong> localise autour de vous les points de vente et points de collecte des produits consignés.</p>

                <p class="text-center text-md-left intro-text"><strong class="font-weight-bold">Réduisez votre impact environnemental</strong> en limitant vos déchets et faites des économies grâce aux produits consignés !</p>

                <p class="text-center"><button class="btn btn-primary w-100" data-toggle="modal" data-target="#homemodal">Voir une démo</button></p>

                <p class="text-primary text-center text-md-left intro-text-two">Aline est en cours de développement, inscrivez-vous pour être informé de la date de sortie de l’application.</p>

                <form action="/network/get-info" method="POST">
                  <div class="form-row">
                    <div class="col-12 col-md-8">
                      <input id="emailFromFront" name="emailFromFront" type="email" class="form-control text-center text-md-left light-input mb-2" aria-describedby="emailHelp" placeholder="exemple@email.com">
                    </div>
                    <div class="col">
                      <p class="text-center"><button type="submit" class="btn btn-primary w-100">Envoyer</button></p>
                    </div>
                  </div>
                </form>

              </div>
            </div>
          </div>
          <!-- end part 1 -->

          <!-- part 2 -->
          <div class="col-12 col-lg-3 offset-lg-1 home-part-two p-4 d-flex flex-column align-items-center justify-content-center">
            <p class="title text-center h4">Vous êtes professionel de la consigne ?</p>
            <p class="text-center intro-text">Inscrivez votre réseaux et vos produits sur Aline dès aujourd’hui.</p>
            <p class="text-center w-100"><a href="/sign-in" class="btn btn-outline-primary form-control">S'inscrire</a></p>
          </div>
          <!-- end part 2 -->

        </div>
      </div>
      <!-- end main -->

      <!-- footer -->
      <%- include('footer') %>
      <!-- end footer -->
    </div>
   
        <!-- Modal -->
        <div class="modal fade" id="homemodal" tabindex="-1" aria-labelledby="homemodallabel" aria-hidden="true">
          <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content">
              <div class="d-flex justify-content-end p-3 pb-0">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              
              <div class="modal-body">
                <!-- inside modal -->
                <div id="homecarousel" class="carousel slide" data-ride="carousel">
                  <div class="carousel-inner">
                    <div class="carousel-item active" data-interval="4000">
                      <img src="https://res.cloudinary.com/alineconsigne/image/upload/v1601040039/demo/aline-interface-01-splashscreen_ag0dtw.jpg" class="d-block w-100" alt="interface Aline 01">
                    </div>
                    <div class="carousel-item" data-interval="4000">
                      <img src="https://res.cloudinary.com/alineconsigne/image/upload/v1601040038/demo/aline-interface-02-login_ovmp7o.jpg" class="d-block w-100" alt="interface Aline 02">
                    </div>
                    <div class="carousel-item" data-interval="4000">
                      <img src="https://res.cloudinary.com/alineconsigne/image/upload/v1601040042/demo/aline-interface-03-signup_dsc3a2.jpg" class="d-block w-100" alt="interface Aline 03">
                    </div>
                    <div class="carousel-item" data-interval="4000">
                      <img src="https://res.cloudinary.com/alineconsigne/image/upload/v1601040039/demo/aline-interface-04-exploremap_we3egc.jpg" class="d-block w-100" alt="interface Aline 04">
                    </div>
                    <div class="carousel-item" data-interval="4000">
                      <img src="https://res.cloudinary.com/alineconsigne/image/upload/v1601040039/demo/aline-interface-05-explorelist_idnbc1.jpg" class="d-block w-100" alt="interface Aline 05">
                    </div>
                    <div class="carousel-item" data-interval="4000">
                      <img src="https://res.cloudinary.com/alineconsigne/image/upload/v1601040038/demo/aline-interface-06-detailshop_xrdnug.jpg" class="d-block w-100" alt="interface Aline 06">
                    </div>
                    <div class="carousel-item" data-interval="4000">
                      <img src="https://res.cloudinary.com/alineconsigne/image/upload/v1601040038/demo/aline-interface-07-trouver_fmqjkk.jpg" class="d-block w-100" alt="interface Aline 07">
                    </div>
                    <div class="carousel-item" data-interval="4000">
                      <img src="https://res.cloudinary.com/alineconsigne/image/upload/v1601040040/demo/aline-interface-08-trouverscan_tlvg06.jpg" class="d-block w-100" alt="interface Aline 08">
                    </div>
                    <div class="carousel-item" data-interval="4000">
                      <img src="https://res.cloudinary.com/alineconsigne/image/upload/v1601040041/demo/aline-interface-09-trouverproduit_o2dqx9.jpg" class="d-block w-100" alt="interface Aline 09">
                    </div>
                    <div class="carousel-item" data-interval="4000">
                      <img src="https://res.cloudinary.com/alineconsigne/image/upload/v1601040041/demo/aline-interface-10-fav_fgg6y4.jpg" class="d-block w-100" alt="interface Aline 10">
                    </div>
                    <div class="carousel-item" data-interval="180000">
                      <div class="video-wrapper">
                        <iframe id="video-one"
                        src="https://player.cloudinary.com/embed/?public_id=v1601028981%2Fdemo%2Faline-part1_bzne96&cloud_name=alineconsigne&player%5Bfluid%5D=true&player%5Bcontrols%5D=true&player%5Bmuted%5D=true&player%5Bposter_options%5D%5Btransformation%5D%5Bstart_offset%5D=0&player%5Bautoplay%5D=true&player%5Bloop%5D=true&source%5Binfo%5D%5Btitle%5D=Demo%20Aline%201&source%5Bsource_types%5D%5B0%5D=mp4"
                        allow="autoplay; fullscreen; encrypted-media; picture-in-picture"
                        allowfullscreen
                        frameborder="0"
                      ></iframe>
                      </div>
                  </div>
                    <div class="carousel-item" data-interval="400000">
                      <div class="video-wrapper">
                        <iframe id="video-two"
                        src="https://player.cloudinary.com/embed/?public_id=v1601028684/demo/aline-part2_lcbanx&cloud_name=alineconsigne&player%5Bfluid%5D=true&player%5Bcontrols%5D=true&player%5Bmuted%5D=true&player%5Bposter_options%5D%5Btransformation%5D%5Bstart_offset%5D=0&player%5Bautoplay%5D=true&player%5Bloop%5D=true&source%5Binfo%5D%5Btitle%5D=Demo%20Aline%201&source%5Bsource_types%5D%5B0%5D=mp4"
                        allow="autoplay; fullscreen; encrypted-media; picture-in-picture"
                        allowfullscreen
                        frameborder="0"
                      ></iframe>
                      </div>
                  </div>
                    <div class="carousel-item" data-interval="200000">
                      <div class="video-wrapper">
                        <iframe id="video-three"
                        src="https://player.cloudinary.com/embed/?public_id=v1601028061/demo/aline-part3_qrqone&cloud_name=alineconsigne&player%5Bfluid%5D=true&player%5Bcontrols%5D=true&player%5Bmuted%5D=true&player%5Bposter_options%5D%5Btransformation%5D%5Bstart_offset%5D=0&player%5Bautoplay%5D=true&player%5Bloop%5D=true&source%5Binfo%5D%5Btitle%5D=Demo%20Aline%201&source%5Bsource_types%5D%5B0%5D=mp4"
                        allow="autoplay; fullscreen; encrypted-media; picture-in-picture"
                        allowfullscreen
                        frameborder="0"
                      ></iframe>
                      </div>
                  </div>
                  <a class="carousel-control-prev" href="#homecarousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#homecarousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
                <!-- inside modal -->
              </div>
            </div>
          
          
          </div>
        </div>
        </div>
        <!-- End Modal -->
    
  
  <!-- BOOTSTRAP -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>


  </body>
</html>

