<!DOCTYPE html>
<html lang="fr" style="scroll-behavior: smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="shortcut icon" type="image/png" href="/images/favicon.png" />
    <!-- my custom Bootstrap -->
    <link href="/css/style.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <title>Application Aline - Règles de confidentialité</title>
  </head>
  <body>
    <div class="d-flex flex-column">
      <!-- Header Navbar-->
      <%- include('headerDark') %>

      <!-- main -->
      <div class="container mt-5">
        <div class="row">
          <div class="col-12">
            <h1 class="h1 my-3 text-bold">
              Application mobile : règles de confidentialité
            </h1>
            <h2 class="h3 mt-4 text-bold">Règles de confidentialité</h2>
            <p class="intro-text">
              Ces règles de confidentialité expliquent quelles données sont
              collectées depuis l’Application et les raisons de cette collecte,
              comment nous utilisons.
            </p>
            <h2 class="h3 mt-4 text-bold">Données personnelles</h2>
            <p class="intro-text">
              Les données suivantes sont collectées dans notre base de données :
              votre nom, votre prénom, votre adresse email, votre date
              d'enregistrement et dernière date d'utilisation de l'application,
              les lieux enreistrés dans vos favoris.
            </p>
            <p class="intro-text">
              Les données suivantes ne sont pas collectées dans notre basse de
              données : géolocalisation, informations sur vos recherches,
              information.
            </p>
            <h2 class="h3 mt-4 text-bold">Permissions demandées par l’Application</h2>
            <h3 class="h5 text-bold">Utilisation de la caméra</h3>
            <p class="intro-text">
              Nous utilisons uniquement l’appareil photo pour reconnaître les
              codes-barre et QR-codes, nous ne collectons aucune autre
              information (photo, film). Les informations sont transmises à
              notre serveur de recherches sans être collectées.
            </p>
            <h3 class="h5 text-bold">Position GPS</h3>
            <p class="intro-text">
              Votre position approximative (réseau) ou précise (GPS et réseau)
              est transmise à notre serveur de recherches. Cette position n’est
              ni conservée par le serveur de recherches ni transmise à des
              tiers.
            </p>
          </div>
        </div>
      </div>
      <!-- end main -->

      <!-- footer -->
      <%- include('footer') %>
      <!-- end footer -->
    </div>

    <!-- BOOTSTRAP -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script> -->
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
