<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge"> 
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/style.css">
        

        <title>Nourrir Aline</title>
    </head>

    <body>

        <div class="container-fluid">

             <!-- Header Navbar-->
            <nav class=" header navbar">
                Aline #pourquellerevienne
            <a class="logout" href="/">Deconnexion</a>
            </nav> 
  
            <div class="row">
  
                <!-- SIGN IN AREA -->
                <div class="col-12 col-md-6 offset-md-3 text-center">
                    <h2>Nourrir Aline!</h2>
                </div>

                    <div class="formArea">

                        <h4>Vous voulez ajouter:</h4>
                        <a href="/form/formRestaurant"><img src="../images/restaurant.png" alt="icon une fourchette et un couteau pour restaurant"></a>
                        <a href="/form/formShop"><img src="../images/boutique.png" alt="icon panier pour magasin"></a>
                        <a href="/form/formProduct"><img src="../images/product.png" alt="icon bouteille pour produit"></a>

                    </div>

                
  
            </div>    
                
        </div>
        
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="/javascripts/script.js"></script>
    </body>
</html>