<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge"> 
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        
        <title>Nourrir Aline - Ajouter un restaturant</title>
    </head>

    <body>
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 offset-md-3">
                    <h1>Ajouter un restaurant</h1>
                    
                    <!-- find name avec autocomplete -->
                    <div class="form-group">
                        <label for="autocomplete">Rechercher</label>
                        <input type="text" id="autocomplete" class="form-control" name="autocomplete" placeholder="Tapper ici votre recherche">
                    </div>

                    <div id="details"></div>
                    
                    <!-- map -->
                    <img src="https://res.cloudinary.com/alineconsigne/image/upload/v1597221942/exemple_map_doqipr.png" class="img-fluid" alt="Responsive image">

                    <!-- debut du form -->
                    <form action="/form/add-restaurant" method="POST">
                        <div class="form-group">
                            <label for="name">Nom du restaurant</label>
                            <input type="text" id="name" class="form-control" name="name" placeholder="ex: Café Ginger">
                        </div>
                        
                        <!-- <div class="form-group">
                            <label for="description">Description</label>
                            <input id="description" name="description" type="text" class="form-control" placeholder="ex: Restaurant végétalien">
                        </div> -->

                        <div class="form-group">
                            <label for="address">Addresse</label>
                            <input id= "address" name="address" type="text" class="form-control" placeholder="ex: 123 rue Réaumur">
                        </div>
    
                        <!-- <div class="form-group">
                            <label for="zipcode">Code postal</label>
                            <input id="zipcode" name="zipcode"type="text" class="form-control"  placeholder="ex: 75002">
                        </div> -->
    
                        <div class="form-group">
                            <label for="city">Ville</label>
                            <input id="city" name="city" type="text" class="form-control"  placeholder="ex: Paris">
                        </div>
    
                        <div class="form-group">
                            <label for="phone">Téléphone</label>
                            <input id="phone" name="phone" type="text" class="form-control" placeholder="ex: +331 45 65 45 65">
                        </div>
    
                        <div class="form-group">
                            <label for="website">Site Internet</label>
                            <input id="website" name="website" type="text" class="form-control" placeholder="ex: https://exemple.com">
                        </div>
                        
                        <!-- services -->
                        <div class="form-group">
                            <label for="">Service de consigne proposé</label>
                            <input id="service1" name="services[]" type="text" class="form-control" placeholder="ex: Boîtes repas en verre">
                            <input id="service2" name="services[]" type="text" class="form-control" placeholder="ex: Couverts en métal">
                        </div>
                        
                        <!-- produits -->
                        <div class="form-check">
                            <p>Produits disponibles</p>
                            <div class="alert alert-warning">Vous n'avez pas encore enregistré de produits</div>
                            <div>
                                <div class="checkbox">
                                    <label><input name="products[]" type="checkbox" value="dairy">Dairy</label>
                                </div>
                                <div class="checkbox">
                                    <label><input name="products[]" type="checkbox" value="meat">Meat</label>
                                </div>
                                <div class="checkbox">
                                    <label><input name="products[]" type="checkbox" value="fish">Fish</label>
                                </div>
                                <!-- <div>
                                    <input id="produit1" name="products" value="produit1" class="form-check-input" type="checkbox"  >
                                    <label class="form-check-label" for="produit1">Boîte XL (8€)</label>
                                </div>
                                <div>
                                    <input id="produit2" name="products" value="produit2" class="form-check-input" type="checkbox"  >
                                    <label class="form-check-label" for="produit2">Boîte M (6€)</label>
                                </div>
                                <div>
                                    <input id="produit3" name="products" value="produit3" class="form-check-input" type="checkbox"  >
                                    <label class="form-check-label" for="produit3">Couverts (5€)</label>
                                </div> -->
                            </div>
                        </div>

                        <!-- hidden input with googlePlace ID -->
                        <div class="form-group">
                            <input id="place_id" type="hidden" class="form-control" name="place_id" value="">
                        </div>
                        <!-- hidden input with networkname -->
                        <div class="form-group">
                            <input type="hidden" class="form-control" name="network" value="AAAAAAAAAAAAAAA">
                        </div>
                        <!-- hidden input with type -->
                        <div class="form-group">
                            <input type="hidden" class="form-control" name="type" value="restaurant">
                        </div>
    
        
                        <button type="submit" class="btn btn-success">Envoyer</button>
                    </form>
                </div>
            </div>    
        </div>


<!-- Custom JS code to bind to Autocomplete API -->
<script>
    // autocomplete
    let autocomplete
    function initAutocomplete() {
        autocomplete = new google.maps.places.Autocomplete(
            document.getElementById('autocomplete'),
                {
                types: ['establishment'],
                componentRestrictions: {'country': 'FR'},
                fields: ['place_id', 'geometry', 'name',  'opening_hours', 'photos', 'types', 'url', 'website', 'address_components', 'international_phone_number']
                }
            )
            autocomplete.addListener('place_changed', onPlaceChanged)
        }

    function onPlaceChanged() {
        var place = autocomplete.getPlace()
        if (!place.geometry) {
            // user didnt select prediction
            document.getElementById('autocomplete').placeholder = 'enter a place'
        } else {
            // display details about places
            // penser à les importer depuis les fields
            // console.log(place)
            // console.log(place.place_id)
            // console.log(place.geometry)
            // console.log(place.geometry.location)
            // console.log(place.geometry.location.lat)
            // console.log(place.name)
            // console.log(place.opening_hours)
            // console.log(place.photos[0].getUrl)
            // console.log(place.types[0])
            // console.log(place.url) // adresse google
            // console.log(place.vicinity) // adresse
            // console.log(place.website)
            // console.log(place.address_components[0])
            // console.log(place.address_components[1])
            // console.log(place.address_components[2])
            // console.log(place.international_phone_number)
            // console.log(place.formatted_phone_number)
            document.getElementById('name').value = place.name
            document.getElementById('address').value = place.address_components[0].long_name + ' ' + place.address_components[1].long_name
            document.getElementById('city').value = place.address_components[2].long_name
            document.getElementById('phone').value = place.international_phone_number
            document.getElementById('website').value = place.website
            document.getElementById('place_id').value = place.place_id

            console.log(place.name)
            console.log(place.international_phone_number)
            console.log(place.website)
            console.log(place.place_id)
            
        }
    }

    // map
    // https://maps.googleapis.com/maps/api/place/details/json?input=bar&placeid=PLACE_ID&key=API_KEY


    
</script>
        <!-- Include Google Maps JS API -->
        <script type="text/javascript"
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBE9M-y5UbxB_Pbgx-ZBd-aeVnJkIOjFPE&libraries=places&callback=initAutocomplete" async defer>
        </script>

    <!-- <script>
        function initializeAutocomplete(id) {
            var element = document.getElementById(placeName);
            if (element) {
                var autocomplete = new google.maps.places.Autocomplete(element, { types: ['geocode'] });
                google.maps.event.addListener(autocomplete, 'place_changed', onPlaceChanged);
            }
            }

            function onPlaceChanged() {
            var place = this.getPlace();

            console.log(place);  // Uncomment this line to view the full object returned by Google API.

            for (var i in place.address_components) {
                var component = place.address_components[i];
                for (var j in component.types) {  // Some types are ["country", "political"]
                var type_element = document.getElementById(component.types[j]);
                if (type_element) {
                    type_element.value = component.long_name;
                }
                }
            }
            }

            google.maps.event.addDomListener(window, 'load', function() {
            initializeAutocomplete('user_input_autocomplete_address');
            }); -->
    </script>   
       
    <!-- BOOTSTRAP -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    </body>
</html>